---
import photoGalleryJson from "../data/photo_gallery.json";
import PhotoCard from "./PhotoCard.astro";
import { formatDate } from "../utils/helper";
import PhotoLightbox from "./PhotoLightbox.astro";

let selectedPhotoIndex = 0;

const thumbnailList = Object.values(photoGalleryJson.images).map(
    (image, index) => {
        return {
            index: index,
            src: `/images/photos/${image.name}.webp`,
            alt: image.name,
            dateFormattedString: formatDate(image.date),
            ...image,
        };
    },
);

// TODO: add add event listener for all photocards
---

<div id="photo-gallery-container">
    <div class="total">
        {photoGalleryJson.images.length} PHOTO{
            photoGalleryJson.images.length !== 1 ? "S" : ""
        }
    </div>
    <section id="photo-gallery-section">
        <div class="grid">
            {
                thumbnailList.map((thumbnail) => (
                    <PhotoCard
                        client:load
                        index={thumbnail.index}
                        name={thumbnail.name}
                        date={thumbnail.dateFormattedString}
                        characterList={thumbnail.characters}
                        tags={thumbnail.tags}
                        qrPostUrl={thumbnail.qrPostUrl}
                    />
                ))
            }
        </div>
        <!-- <div class="empty-state" id="empty-state">
            <div class="empty-state-icon">✦</div>
            <p>No images match the selected filters.</p>
        </div>-->
    </section>
    <!-- photoData should be updated based on its index when a PhotoCard is clicked -->
    <!-- <PhotoLightbox photoData={thumbnailList[selectedPhotoIndex]} /> -->
</div>
