---
const { photoData } = Astro.props;
---

<div class="lightbox-inner">
    <button id="photo-lightbox-close-btn">
        <svg class="icon" viewBox="0 0 24 24" fill="currentColor">
            <use href="#icon-close"></use>
        </svg>
        <span>CLOSE</span>
    </button>

    <button
        class="lightbox-nav lightbox-prev"
        id="lb-prev"
        aria-disabled="false"
    >
        <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
            <use href="#chev-left"></use>
        </svg>
    </button>
    <img class="lightbox-img" id="lb-img" src="{photoData.src}" alt="" />
    <button
        class="lightbox-nav lightbox-right"
        id="lb-next"
        aria-disabled="false"
    >
        <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
            <use href="#chev-right"></use>
        </svg>
    </button>
    <div class="lightbox-tags" id="lb-tags">
        {photoData.tags.map((tag: string) => <span class="lb-tag">{tag}</span>)}
    </div>
    <div class="lightbox-meta">
        <div class="lightbox-characters" id="lb-characters">
            {photoData.name}&nbsp;<em
                >•&nbsp;&nbsp;{photoData.dateFormattedString}</em
            >
        </div>
        <a
            id="lb-qr"
            href="{photoData.qrPostUrl}"
            target="_blank"
            class="link-btn"
            style="display: inline-flex;"
        >
            <svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
                <use href="#icon-qr"></use>
            </svg>
            Get QR Code
        </a>
        <a
            id="lb-post-link"
            href="{photoData.mainPostUrl}"
            target="_blank"
            class="link-btn"
            style="display:none"
        >
            Give This Post Some
            <svg class="icon" viewBox="0 0 512 512" aria-hidden="true">
                <use href="#icon-heart"></use>
            </svg>
        </a>
    </div>
</div>
