---
import makeupTutorialsJson from "../data/makeup_tutorials.json";
import TutorialCard from "./TutorialCard.astro";
import { formatDate } from "../utils/helper";

const thumbnailList = Object.values(makeupTutorialsJson.tutorials).map(
    (tutorial) => {
        return {
            src: `/images/tutorials/${tutorial.id}.webp`,
            alt: tutorial.title,
            dateFormattedString: formatDate(tutorial.date),
            ...tutorial,
        };
    },
);
---

<div id="makeup-tutorials-container">
    <div class="total">
        {makeupTutorialsJson.tutorials.length} TUTORIAL{
            makeupTutorialsJson.tutorials.length !== 1 ? "S" : ""
        }
    </div>
    <section id="makeup-tutorials-section">
        <div class="grid">
            {
                thumbnailList.map((tutorial) => (
                    <TutorialCard
                        thumbnailPath={tutorial.src}
                        title={tutorial.title}
                        date={tutorial.dateFormattedString}
                        postUrl={tutorial.postUrl}
                    />
                ))
            }
        </div>
    </section>
</div>
<!-- TODO: Add empty state if no tutorials are available -->
<!--
<div class="empty-state" style="display: none;">
    <div class="empty-state-icon">✦</div>
    <p>No tutorial available.</p>
</div>
-->
